body {
    margin: 0;
    background-color: #1B1212;
    color: floralwhite;
    font-family: 'Space Mono', monospace;
}

h2 {
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 3.75rem;
    height: 3.75rem;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;
    animation: change-shape 1.7s normal infinite;
}

@keyframes change-shape {
    0% {
        margin: 2vw;
        border-radius: 100%;
    }

    40% {
        margin: 0;
        border-radius: 5%;
    }

    60% {
        margin: 0;
        border-radius: 5%;
    }

    100% {
        margin: 2vw;
        border-radius: 100%;
    }
}
